Based on the following examples:

singular: die Geschlossenheit
plural: Geschlossenheiten
-------------------------------
singular: das Haus
plural: Häuser
-------------------------------
singular: der Mann
plural: Männer
-------------------------------
singular: der Außenseiter
plural: Außenseiter
-------------------------------
singular: der Reichtum
plural: Reichtümer
-------------------------------
singular: {word}
plural: 
