singular: die Geschlossenheit
plural: die Geschlossenheiten
-------------------------------
singular: das Haus
plural: die Häuser
-------------------------------
singular: der Mann
plural: die Männer
-------------------------------
singular: der Außenseiter
plural: die Außenseiter
-------------------------------
singular: der Reichtum
plural: die Reichtümer
-------------------------------
singular: {word}
plural:

