Based on the following examples:

plural: die Geschlossenheiten
singular: die Geschlossenheit
-------------------------------
plural: die Häuser
singular: das Haus
-------------------------------
plural: die Männer
singular: der Mann
-------------------------------
plural: die Außenseiter
singular: der Außenseiter
-------------------------------
plural: die Reichtümer
singular: der Reichtum
-------------------------------
plural: {word}
singular: 

Answer in the format "article + singular nominative form"
