infinitive: machen
past: machte
past participle: gemacht
------------------------------------------------------------------------------
infinitive: abteilen
past: teilte ab
past participle: abgeteilt
------------------------------------------------------------------------------
infinitive: schlagen
past: schlug
past participle: angeschlagen
------------------------------------------------------------------------------
infinitive: {word}
past:
past participle:
