Based on the following examples:

------------------------------------------------------------------------------
infinitive: machen
past: machte
participle: gemacht
------------------------------------------------------------------------------
infinitive: abteilen
past: teilte ab
participle: abgeteilt
------------------------------------------------------------------------------
infinitive: bereiten
past: bereitete
participle: bereitet
------------------------------------------------------------------------------
infinitive: schlagen
past: schlug
participle: geschlagen
------------------------------------------------------------------------------
infinitive: schlagen
past: schlug
participle: geschlagen
------------------------------------------------------------------------------
infinitive: atmen
past: atmete
participle: geatmet


What are the present, past, and past participle forms of the German verb "{word}"? {format_instructions}
